@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(17 24 39);
  color: #fff;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
